.QuestionHeader-content {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
font-size: 16px;
color: #121212;
-webkit-tap-highlight-color: rgba(18,18,18,0);
background: #fff;
overflow: hidden;
box-shadow: 0 1px 3px rgba(18,18,18,.1);
box-sizing: border-box;
padding: 16px;
border-top: 0;
border-radius: 0;
border-width: 1px 0;
margin-bottom: 0;
}
.QuestionHeader-tags {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
font-size: 16px;
color: #121212;
-webkit-tap-highlight-color: rgba(18,18,18,0);
display: flex;
}
.QuestionHeader-title {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
-webkit-tap-highlight-color: rgba(18,18,18,0);
margin-top: 8px;
font-size: 20px;
color: #121212;
letter-spacing: 0;
line-height: 1.67;
text-align: left;
font-weight: 500;
}

a {
    color: #121212;
}

.AnswerCard {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
font-size: 16px;
color: #121212;
-webkit-tap-highlight-color: rgba(18,18,18,0);
margin-bottom: 10px;
background: #fff;
box-shadow: 0 1px 3px rgba(18,18,18,.1);
box-sizing: border-box;
transition: box-shadow .3s,-webkit-box-shadow .3s;
overflow: initial;
border-radius: 0;
border-width: 1px 0;
}

.QuestionAnswer-content {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
font-size: 16px;
color: #121212;
-webkit-tap-highlight-color: rgba(18,18,18,0);
padding: 16px;
}

.AnswerItem {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
font-size: 16px;
color: #121212;
-webkit-tap-highlight-color: rgba(18,18,18,0);
}

.ContentItem-meta {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
    -webkit-tap-highlight-color: rgba(18,18,18,0);
    font-size: 15px;
    color: #646464; 
}

.AuthorInfo {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
-webkit-tap-highlight-color: rgba(18,18,18,0);
font-size: 15px;
color: #646464;
display: flex;
-webkit-box-align: center;
align-items: center;
margin-top: 0;
}

.UserLink  {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
-webkit-tap-highlight-color: rgba(18,18,18,0);
font-size: 15px;
color: #646464;
}

.UserLink-link {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
-webkit-tap-highlight-color: rgba(18,18,18,0);
font-size: 15px;
color: inherit;
text-decoration: none;
}

.Avatar {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
-webkit-tap-highlight-color: rgba(18,18,18,0);
font-size: 15px;
color: inherit;
width: 38px;
height: 38px;
background: #fff;
border-radius: 2px;
vertical-align: top;
}

.AuthorInfo-content {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
-webkit-tap-highlight-color: rgba(18,18,18,0);
font-size: 15px;
color: #646464;
-webkit-box-flex: 1;
flex: 1 1;
margin-left: 14px;
overflow: hidden;
}

.AuthorInfo-head {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
-webkit-tap-highlight-color: rgba(18,18,18,0);
color: #646464;
display: flex;
-webkit-box-align: center;
align-items: center;
font-size: 15px;
line-height: 1.1;
flex-shrink: 0;
}

.AuthorInfo-name {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
    -webkit-tap-highlight-color: rgba(18,18,18,0);
    font-size: 15px;
    line-height: 1.1;
    color: #444;
    font-weight: 500;
}

.AuthorInfo-detail {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
-webkit-tap-highlight-color: rgba(18,18,18,0);
font-size: 15px;
color: #646464;
overflow: hidden;
}

.AuthorInfo-badge {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
-webkit-tap-highlight-color: rgba(18,18,18,0);
color: #646464;
display: flex;
-webkit-box-align: center;
align-items: center;
margin-top: 2px;
font-size: 14px;
}

.AuthorInfo-badgeText {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
-webkit-tap-highlight-color: rgba(18,18,18,0);
font-size: 14px;
word-break: break-word;
line-height: 1.6;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
color: #646464;font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
-webkit-tap-highlight-color: rgba(18,18,18,0);
font-size: 14px;
word-break: break-word;
line-height: 1.6;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
color: #646464;
}

.RichContent {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
font-size: 16px;
color: #121212;
-webkit-tap-highlight-color: rgba(18,18,18,0);
line-height: 1.67;
}

.RichContent-inner {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
color: #121212;
-webkit-tap-highlight-color: rgba(18,18,18,0);
line-height: 1.67;
margin-top: 9px;
overflow: hidden;
position: relative;
margin-bottom: 2px;
font-size: 17px;
}

.CopyrightRichText-richText {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
    color: #121212;
    -webkit-tap-highlight-color: rgba(18,18,18,0);
    font-size: 17px;
    word-break: break-word;
    line-height: 1.6; 
}

.origin_image {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
color: #121212;
-webkit-tap-highlight-color: rgba(18,18,18,0);
font-size: 17px;
word-break: break-word;
line-height: 1.6;
width: 800px;
display: block;
max-width: 100%;
margin: 0 auto;
cursor: zoom-in;
background-color: transparent;
animation: fxRichTextFadeIn .5s ease-in;
}

.ContentItem-time {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
-webkit-tap-highlight-color: rgba(18,18,18,0);
line-height: 1.67;
margin-top: 10px;
font-size: 14px;
color: #8590a6;
}

.ContentItem-actions {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
    font-size: 16px;
    -webkit-tap-highlight-color: rgba(18,18,18,0);
    line-height: 1.67;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 10px 16px;
    margin: 0 -16px -10px;
    color: #646464;
    background: #fff;
    clear: both;
    font-weight: 500; 
}

.VoteButton {
    -webkit-tap-highlight-color: rgba(18,18,18,0);
font: inherit;
outline: none;
appearance: none;
margin: 0;
display: inline-block;
font-size: 14px;
line-height: 32px;
text-align: center;
cursor: pointer;
border: 1px solid;
border-radius: 3px;
padding: 0 10px;
background: rgba(0,132,255,.1);
border-color: transparent;
color: #0084ff;
}

.VoteButton-TriangleUp {
    -webkit-tap-highlight-color: rgba(18,18,18,0);
font: inherit;
font-size: 14px;
line-height: 32px;
text-align: center;
cursor: pointer;
color: #0084ff;
fill: currentcolor;
width: 10;
height: 10;
margin-right: 5px;
}

.VoteButton--down {
    -webkit-tap-highlight-color: rgba(18,18,18,0);
font: inherit;
outline: none;
appearance: none;
margin: 0;
display: inline-block;
font-size: 14px;
line-height: 32px;
text-align: center;
cursor: pointer;
border: 1px solid;
border-radius: 3px;
padding: 0 10px;
background: rgba(0,132,255,.1);
border-color: transparent;
color: #0084ff;
margin-left: 8px;
}

.Zi--TriangleDown {
    -webkit-tap-highlight-color: rgba(18,18,18,0);
font: inherit;
font-size: 14px;
line-height: 32px;
text-align: center;
cursor: pointer;
color: #0084ff;
fill: currentcolor;
width: 10;
height: 10;
}

.ContentItem-action {
    -webkit-tap-highlight-color: rgba(18,18,18,0);
font: inherit;
outline: none;
appearance: none;
margin: 0;
display: inline-block;
text-align: center;
cursor: pointer;
background: none;
color: #8590a6;
height: auto;
line-height: inherit;
background-color: transparent;
border: none;
border-radius: 0;
flex-shrink: 0;
font-size: 14px;
padding: 0;
margin-left: 0;
padding-left: 12px;
}

.CommentsForOia {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
font-size: 16px;
color: #121212;
-webkit-tap-highlight-color: rgba(18,18,18,0);
padding-top: 28px;
}

.CommentItemV2 {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
color: #121212;
-webkit-tap-highlight-color: rgba(18,18,18,0);
position: relative;
flex-shrink: 0;
font-size: 15px;
padding: 0;
}

.CommentItemV2-meta {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
color: #121212;
-webkit-tap-highlight-color: rgba(18,18,18,0);
font-size: 15px;
position: relative;
height: 24px;
padding-right: 3px;
padding-left: 1px;
margin-bottom: 4px;
line-height: 24px;
}

.CommentItemV2-avatar {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
color: #121212;
-webkit-tap-highlight-color: rgba(18,18,18,0);
font-size: 15px;
line-height: 24px;
margin-right: 8px;
}

.CommentItemV2-roleInfo {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
-webkit-tap-highlight-color: rgba(18,18,18,0);
font-size: 15px;
line-height: 24px;
color: #8590a6;
margin-right: -8px;
}

.CommentItemV2-time {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
-webkit-tap-highlight-color: rgba(18,18,18,0);
line-height: 24px;
float: right;
font-size: 14px;
color: #8590a6;
}

.CommentItemV2-metaSibling {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
color: #121212;
-webkit-tap-highlight-color: rgba(18,18,18,0);
font-size: 15px;
padding-left: 33px;
}

.CommentItemV2-content {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
color: #121212;
-webkit-tap-highlight-color: rgba(18,18,18,0);
font-size: 15px;
margin-bottom: 6px;
line-height: 25px;
}

.ztext {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
color: #121212;
-webkit-tap-highlight-color: rgba(18,18,18,0);
font-size: 15px;
word-break: break-word;
line-height: 1.6;
}

.CommentItemV2-footer {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
color: #121212;
-webkit-tap-highlight-color: rgba(18,18,18,0);
-webkit-box-align: center;
align-items: center;
height: 24px;
font-size: 14px;
line-height: 24px;
margin-top: 4px;
display: none;
}

.CommentItemV2-likeBtn {
    -webkit-tap-highlight-color: rgba(18,18,18,0);
    font: inherit;
    outline: none;
    appearance: none;
    margin: 0;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    background: none;
    color: #8590a6;
    height: auto;
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 0;
    width: 100%;
    line-height: 36px;
    margin-top: 10px;
}

.CommentItemV2-hoverBtn {
    -webkit-tap-highlight-color: rgba(18,18,18,0);
font: inherit;
outline: none;
appearance: none;
margin: 0;
display: inline-block;
font-size: 14px;
text-align: center;
cursor: pointer;
background: none;
color: #8590a6;
height: auto;
padding: 0;
background-color: transparent;
border: none;
border-radius: 0;
opacity: 0;
transition: opacity .2s;
width: 100%;
line-height: 36px;
margin-top: 10px;
margin-left: 16px;
}

.CommentItemV2-hoverBtn {
    -webkit-tap-highlight-color: rgba(18,18,18,0);
font: inherit;
outline: none;
appearance: none;
margin: 0;
display: inline-block;
font-size: 14px;
text-align: center;
cursor: pointer;
background: none;
color: #8590a6;
height: auto;
padding: 0;
background-color: transparent;
border: none;
border-radius: 0;
opacity: 0;
transition: opacity .2s;
width: 100%;
line-height: 36px;
margin-top: 10px;
margin-left: 16px;
}

.CommentItemV2-reply {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
-webkit-tap-highlight-color: rgba(18,18,18,0);
font-size: 15px;
line-height: 24px;
color: #8590a6;
margin-right: 8px;
margin-left: 8px;
}

.UserLink-avatar {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
-webkit-tap-highlight-color: rgba(18,18,18,0);
font-size: 15px;
line-height: 24px;
color: inherit;
font-weight: 500;
width: 24px;
height: 24px;
background: #fff;
border-radius: 2px;
vertical-align: top;
}